<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Add User</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>Add User</h1>

<form method="post">
    <div>
        <label>User Name
            <input type="text" name="username" th:value="${username}" />
        </label>
    </div>
    <div>
        <label>E-mail
            <input type="email" name="email" th:value="${email}" />
        </label>
    </div>
    <div>
        <label>Password
            <input type="password" name="password" />
        </label>
    </div>
    <div>
        <label>Verify password
            <input type="password" name="verify" />
        </label>
    </div>
    <div>
        <p th:if="${error}">Passwords do not match. Please try again.</p>
    </div>
    <div>
        <input type="submit" value="Add Me!" />
    </div>
</form>

</body>
</html>