<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>My Super Fancy Spa</h1>
<div id = "clientProfile">
    <h2>My profile</h2>
    <p th:text="${name}">Name here</p>
    <p th:text="${skintype}">Skin Type here</p>
    <p th:text="${manipedi}">ManiPedi here</p>
</div>

<div id = "servicesMenu">
    <table>
        <tr>
            <th>Facials for your skin type:</th>
        </tr>
        <th:block th:each = "facial : ${appropriateFacials}">
            <tr>
                <td th:text="${facial}"></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>